{% include pagination.html %}
{% for post in paginator.posts %}
<div class="panel-inset-lighter panel-evenodd flex">

	{% if post.image %}
	<div class="blog-card-thumbnail">
		<a href="{{ site.baseurl }}{{ post.url }}" class="no-outline">
			<img src="{{ post.image }}">
			<div class="shadow-overlay"></div>
		</a>
	</div>
	{% endif %}

	<div class="blog-card-text">
		<h3>
			<a href="{{ site.baseurl }}{{ post.url }}">
				{% if post.date %} 
					<time datetime="{{ post.date | date_to_xmlschema }}" class="by-line">{{ post.date | date: "%Y-%m-%d" }}</time>
				{% endif %}
				{{ post.title }}
				{% if post.author %} - <em>{{ post.author }}</em>{% endif %}
			</a>
		</h3>
		<div class="snippet <snippet-2>">
			<p>{{ post.content | strip_html | truncatewords:50 }}</p>
		</div>
		{% if post.tags %}
		<div class="panel-inset m0 w100 p8">
			{% for tags in page.tags %}
    				<a href="#{{tag}}" class="slot-button-inline">{{ tags }}</span>
  			{% endfor %}
		</div>
		{% endif %}
	</div>
</div>
{% endfor %}
{% include pagination.html %}
