---
layout: default
---
<article class="panel blog-post">
	<h2>
		{% if page.date %} {{ page.date | date: "%Y-%M-%d" }} - {% endif %}
  		{{ page.title }}
	</h2>
	{% if page.tags %}
	<div class="panel-inset m0 w100 p8">
		<div class="flex flex-space-between flex-items-center flex-wrap">
			<div>
			{% for tag in page.tags %}
				<a href="#{{tag}}" class="slot-button-inline">{{ tag }}</a>
			{% endfor %}
			</div>
		</div>
	</div>
	{% endif %}
	<div class="panel-inset-lighter mt0">

		{{ content }}

		{% if page.discuss.forum or page.discuss.reddit %}
		<div class="flex flex-column flex-items-center mt8">
			{% if page.discuss.forum %}
			<a class="button-green-right m4" style="width: 16em;" href="{{ page.discuss.forum }}">Discuss on Factorio
				Forums</a>
			{% endif %}
			{% if page.discuss.reddit %}
			<a class="button-green-right m4" style="width: 16em;" href="{{ page.discuss.reddit }}">Discuss on Reddit</a>
			{% endif %}
			{% if page.discuss.discord %}
			<a class="button-green-right m4" style="width: 16em;" href="{{ page.discuss.reddit }}">Discuss on Discord</a>
			{% endif %}
		</div>
		{% endif %}
	</div>
	<div class="panel-inset mb0 p4 flex flex-space-between">
		<div>
			<a class="button square-sm" href="/">
				<i class=" fas fa-angle-double-left"></i>
			</a>
		</div>
	</div>
</article>
